body {
  background-color: red;
}

h1 {
  text-align: center;
  color: white;
}

form {
  font-size: 300%;
  text-align: center;
  color: white;
}

p.triggered {
  font-size: 300%;
  text-align: center;
  color: green;
}

input[type=text] {
  font-size: 100%;
}

input[type=submit] {
  font-size: 300%;
  background-color: green;
  border: none;
  color: white;
  padding: 128px 256px;
  text-decoration: none;
  cursor: pointer;
}
